<html>
	<head>
	</head>
	<title>
		INDEX
	</title>

	<body>
		<h2>Current tables:</h2>

		<ul>
		<li>
			<a href="readings">Readings</a>
		</li>
		<li>
			<a href="locations">Locations</a>
		</li>
		<li>
		<a href="postcodes">Postcodes</a> 
			<Ul>
				<li>
					 (Too much stuff in this table just now.  Just clicking this URL is a bad idea!  See below for ways to filter data down).
				</li>
			</ul>
		</li>
		</ul>

	

	<h2>Basic API Stuff</h2>

	<p>This shit is very rough just now.  Tread carefully!!</p>
		<ul>
		<li>
		 	For each table in the database you can do a GET request to http://happyhomes.herokuapp.com/[tablename] to get all the data in that table.
		</li>
		<li>
		 	Filter by ID by: http://happyhomes.herokuapp.com/[tablename]/[id]
		</li>
		<li>
		 	Filter by any other field http://happyhomes.herokuapp.com/[tablename]?[fieldname>=<whatever]
		</li>
		</ul>
		
		<h2>Stats</h2>
		<p>We haven't generated this stuff yet!</p>
		<ul>
			<li>Minimum</li>
			<li>9% interval</li>
			<li>First (lower) quartile</li>
			<li>Median</li>
			<li>Third (upper) quartile</li>
			<li>91% interval</li>
			<li>Maximum</li>
	</body>
</html>