<html>
	<head>
	</head>
	<title>
		INDEX
	</title>

	<body>
		<h2>Current tables:</h2>

		<ul>
		<li>
			<a href="readings">Readings</a>
		</li>
		<li>
			<a href="locations">Locations</a>
			<ul>
				<li>
					 Limited to 20 where no location_id has been set.
				</li>
			</ul>
		</li>
		<li>
			<a href="stats/getStats">Stats</a>
		</li>
		<a href="postcodes">Postcodes</a> 
			<ul>
				<li>
					 Limited to 20 by default.
				</li>
				<li>
					 Maximum 100 per request, paging is possible with GET params.
				</li>
			</ul>
		</li>
		<li>
			<a href="currentReading">Current Reading</a>
		</li>
		</ul>

	

	<h2>Basic API Stuff</h2>

	<p>This shit is very rough just now.  Tread carefully!!</p>
		<ul>
		<li>
		 	For each table in the database you can do a GET request to http://happyhomes.herokuapp.com/[tablename] to get all the data in that table.
		</li>
		<li>
		 	Filter by ID by: http://happyhomes.herokuapp.com/[tablename]/[id]
		</li>
		<li>
		 	Filter by any other field http://happyhomes.herokuapp.com/[tablename]?[fieldname]=[whatever]
		</li>
		</ul>
		
		<h2>Stats</h2>
		<p>The computed stats for the location - filter by location_id, dow (day of week) and hour (if you don't specify all of those you'll get stats for what ones you specify - might be a lot of data!)</p>
		<ul>
			<li>min - Minimum</li>
			<li>lower_whisker - 9% interval</li>
			<li>lower_quartile - First (lower) quartile</li>
			<li>median - Median</li>
			<li>upper_quartile - Third (upper) quartile</li>
			<li>upper_whisker - 91% interval</li>
			<li>max - Maximum</li>
		</ul>
		
		<p>All numbers are in kilowatts</p>
		
		<h3>Current usage - /currentReading</h3>
		<p>Filter by location_id</p>
		<ul>
			<li>location_id - what you asked for!</li>
			<li>datetime - the date and time the reading was taken</li>
			<li>reading - the power in kilowatts</li>
		</ul>
		
		<p>To work out happy/neutral/sad:</p>
		<ul>
			<li>Get the current reading for the location ID</li>
			<li>Get the stats for that location ID, the current hour and day of week (1 = Monday)</li>
			<li>Compare them:</li>
			<ul>
				<li>If the reading is below lower_whisker, really happy face</li>
				<li>If the reading is below lower_quartile, happy face</li>
				<li>If the reading is above lower_quartile but below upper_quartile, neutral face</li>
				<li>If the reading is above upper_quartile, sad face</li>
				<li>If the reading is above upper_whisker, really sad face</li>
			</ul>
		</ul>
		
	</body>
</html>